<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>煲粥</string>
	<string>煲汤</string>
	<string>煮饭</string>
	<string>烧水</string>
	<string>火锅</string>
	<string>煎炒</string>
	<string>烤炸</string>
	<string>保温</string>
	<string>煎焗</string>
	<string>焖烧</string>
	<string>保温</string>
	<string>爆炒</string>
	<string>油炸</string>
	<string>文火</string>
</array>
</plist>
